@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --accent-color: #FF6F00;
    --main-text: #2f2e41;
    --alt-text: #cccccc;
    --main-font: 'Saira', sans-serif;
    --emphasis: #FFFFFF;
}
html{
    scroll-behavior: smooth;
}
.landingSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0;
}

.landingText{
    font-family: var(--main-font);
    margin-left: auto;
    margin-right: 5%;
}
.welcomeHeader{
    color: var(--main-text);
    font-size: 60px
}
.welcomeSubheader{
    color: var(--alt-text);
    margin-left: 3rem;
    margin-bottom: 1rem;
}
.accent{
    color: var(--accent-color);
}
.emphasis{
    color: var(--emphasis);
}
.projectsLink{
    border: 2px solid var(--main-text);
    background-color: transparent;
    font-family: var(--main-font);
    border-radius: 100vh;
    font-size: 18px;
    font-weight: 600;
    padding: 4px;
    margin-left: 15%;
    text-decoration: none;
    color: var(--main-text);
}
.projectsLink:hover{
    cursor: pointer;
    color: var(--accent-color);
}
.landingImage{
    height: 60%;
}

/* 
    ABOUT ME && TECH SKILLS SECTION
*/

.aboutSection{
    margin-top: 150px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--main-text);
}


.aboutText{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.aboutHeader{
    color: white;
    text-align: center;
    font-family: var(--main-font);
    font-size: 48px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    margin-top: 20%;
}
.aboutParagraph{
    color: var(--alt-text);
    font-family: var(--main-font);
    width: 80%;
    font-size: 24px;
    text-indent: 2rem;
    line-height: 2.5rem
}
.aboutParagraph .emphasis{
    font-weight: bold;
}
.firstParagraph{
    margin-top: 5%;
}
.secondParagraph{
    margin-top: 2.5%;
}
.githubLink{
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}
.techSkills{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.techSkillsHeader{
    color: white;
    text-align: center;
    font-family: var(--main-font);
    font-size: 48px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    margin-top: 20%;
}

.techLists{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
}
.frontend, .backend, .tools{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
.frontendHeader, .backendHeader, .toolsHeader{
    width: 20%;
    color: var(--alt-text);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;  
}
.frontendIcons, .backendIcons, .toolsIcons{
    display: grid;
    grid-template-columns: repeat(4, 80px);
}
.techIcon{
    height: 60px;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.projectsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectsHeader{
    color: var(--main-text);
    text-align: center;
    font-family: var(--main-font);
    font-size: 48px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    margin-top: 10%;
}

.footer{
    background-color: #2f2e41;
    height: 150px;
    margin-top: 800px;
}

@media only screen and (max-Width: 1600px) {
    .landingSection{
        display: flex;
        flex-direction: column;
        margin-top: 20%;
    }
    .landingText{
        margin-right: auto;
    }
    .landingImage{
        height: 400px;
        margin-top: 10%;
    }
}

@media only screen and (max-Width: 1600px) {
    .aboutSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .aboutText{
        max-width: 1200px;
    }
    .techSkills{
        width: 80%;
    }
    .techSkillsHeader{
        margin-top: 10%;
    }
    .techLists{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .frontend, .backend, .tools{
        justify-content: center;
    }
    .frontendHeader, .backendHeader, .toolsHeader{
        margin-left: 0;
    }
}

@media only screen and (max-Width: 880px) {
    .frontend, .backend, .tools{
        flex-direction: column;
    }
    .frontendHeader, .backendHeader, .toolsHeader{
        width: auto;
    }
}

@media only screen and (max-Width: 680px) {
    .landingImage{
        height: 250px;
    }
}